<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="adSettings" type="TrainingPortal.Service.Advt.Configuration.AdConfigSection, TrainingPortal.Service.Advt"/>
  </configSections>

  <adSettings>
    <pathways>
      <adPath path="D:\Study\Epam\TrainingPortal\TrainingPortal\TrainingPortal.Service.Advt\ads" />
    </pathways>
  </adSettings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TrainingPortal.Service.Advt.Concrete.AdRepos">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Ad/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.Advt.Abstract.IAdRepos">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


</configuration>